<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="schooltasklist.pega.com.schooltasklist" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"></uses-permission>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.example.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.gcm.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="schooltasklist.pega.com.activity.ActivityLogin"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="schooltasklist.pega.com.activity.ActivityMain"
            android:label="@string/title_activity_activity_main" >
        </activity>
        <activity
            android:name="schooltasklist.pega.com.activity.ActivityGroup"
            android:label="@string/title_activity_activity_group" >
        </activity>





        <activity
            android:name="schooltasklist.pega.com.activity.ActivityAddTask"
            android:label="@string/title_activity_activity_add_task"
            android:screenOrientation="portrait" >

        </activity>
        <activity
            android:name="schooltasklist.pega.com.activity.ActivityCreateGroup"
            android:label="@string/title_activity_activity_create_group" >

        </activity>
        <activity
            android:name="schooltasklist.pega.com.activity.ActivityAddMember"
            android:label="@string/title_activity_activity_add_member" >


        </activity>

        <activity
            android:name="schooltasklist.pega.com.activity.ActivitySeting"
            android:label="SETTING" >

        </activity>

        <receiver android:name="schooltasklist.pega.com.scheduler.SampleAlarmReceiver"></receiver>

        <receiver android:name="schooltasklist.pega.com.scheduler.SampleBootReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"></action>
            </intent-filter>
        </receiver>
        <service android:name="schooltasklist.pega.com.scheduler.SampleSchedulingService" />
    </application>

</manifest>
